.object-wrapper {
    position: relative;
}

.object-wrapper-right {

}

.object-wrapper-left {

}

.object-wrapper-bottom{

}


.object {
    background: black;
    position: absolute;
}

.object-scale {
    width: 10%;
    height: 40%;
}