.section-shop {
    width: 100%;
    height: 120vh;

    padding: 10vw 10vh;

    background: url("../img/butterfly_motion_path.webp");
    background-position: 20% 50%;
    background-size: 60%;
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
}

.section-shop .container {
    width: 100%;
    height: 100%;

    color: #0A3856;
}

.content {
    width: 60%;
    height: 100%;
}

.content-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

    background: none;
}

.book-title {
    font-family: Oswald;
    font-size: 64px;
    font-weight: 700;
    letter-spacing: 4.48px;
    text-transform: uppercase;
}

.sub-title {
    font-family: "Pathway Extreme";
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 1.82px;
}

.section-shop .content-image img {
    height: 100%;
    width: unset;
    margin: auto;
}

.section-shop .button {
    align-self: center;
}