.section-double-animation {
    position: relative;
}

.section-papillon svg {
    width: 100%;
}

.section-memories {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

